APP_ENV=production
AUTO_CREATE_SCHEMA=false
LOCAL_AUTH_BYPASS=false
LOCAL_IDENTITY_ENFORCEMENT=true

POSTGRES_PASSWORD=CHANGE_TO_A_LONG_RANDOM_PASSWORD
CORS_ORIGINS_CSV=https://moneybeeloan.com,https://www.moneybeeloan.com,https://app.moneybeeloan.com,https://lenders.moneybeeloan.com,https://admin.moneybeeloan.com

OIDC_ISSUER=https://auth.codestra.co/realms/codestra
OIDC_AUDIENCE=moneybee-api
OIDC_JWKS_URL=https://auth.codestra.co/realms/codestra/protocol/openid-connect/certs
OIDC_ALGORITHMS_CSV=RS256
BORROWER_OIDC_CLIENT_IDS_CSV=moneybee-borrower
LENDER_OIDC_CLIENT_IDS_CSV=moneybee-lender
ADMIN_OIDC_CLIENT_IDS_CSV=moneybee-admin

CODESTRA_MIDDLEWARE_BASE_URL=
CODESTRA_MIDDLEWARE_TOKEN_URL=https://auth.codestra.co/realms/codestra/protocol/openid-connect/token
CODESTRA_MIDDLEWARE_CLIENT_ID=
CODESTRA_MIDDLEWARE_CLIENT_SECRET=
MIDDLEWARE_PROVIDER=disabled
CODESTRA_MIDDLEWARE_EVENT_PATH=/v1/events
CODESTRA_MIDDLEWARE_SCOPE=
CODESTRA_MIDDLEWARE_WEBHOOK_SECRET=
CODESTRA_MIDDLEWARE_WEBHOOK_TOLERANCE_SECONDS=300
ENABLE_EXTERNAL_DELIVERY=false
LIVE_WRITES=false
ODOO_WRITE=false
N8N_DELIVERY_ENABLED=false
PROVIDER_WEBHOOK_ALLOWLIST_CSV=lender,docusign,sendgrid,twilio
PROVIDER_WEBHOOK_SECRETS_JSON={}
PROVIDER_WEBHOOK_TOLERANCE_SECONDS=300

FIELD_ENCRYPTION_KEY=
PROVIDER_TIMEOUT_SECONDS=30
SOURCE_SHA=
API_IMAGE_DIGEST=
FRONTEND_IMAGE_DIGEST=
MIGRATION_HEAD=
CONFIGURATION_CHECKSUM=
SBOM_DIGEST=
PROVENANCE_DIGEST=
BACKUP_REFERENCE=
BACKUP_STATUS=NOT_CONFIGURED
RESTORE_STATUS=NOT_CONFIGURED
STAGING_STATUS=NOT_CONFIGURED

BANK_PROVIDER=disabled
PLAID_BASE_URL=https://sandbox.plaid.com
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_CLIENT_NAME=MoneyBeeLoans
PLAID_PRODUCTS_CSV=transactions,auth
PLAID_COUNTRY_CODES_CSV=US
PLAID_WEBHOOK_URL=https://api.moneybeeloan.com/api/v2/webhooks/plaid
PLAID_REDIRECT_URI=https://app.moneybeeloan.com/banking

CRM_PROVIDER=disabled
CRM_BASE_URL=
CRM_API_KEY=
CRM_EVENT_PATH=/moneybee/events
ODOO_BASE_URL=
ODOO_DATABASE=
ODOO_API_MODE=auto
ODOO_USERNAME=
ODOO_API_KEY=

KYB_PROVIDER=disabled
KYB_BASE_URL=
KYB_API_KEY=
KYB_VERIFY_PATH=/v1/business-verifications
MIDDESK_BASE_URL=https://api-sandbox.middesk.com
MIDDESK_API_KEY=
MIDDESK_WEBHOOK_SECRET=

CREDIT_PROVIDER=disabled
CREDIT_BASE_URL=
CREDIT_API_KEY=
CREDIT_REQUEST_PATH=/v1/credit-requests
EXPERIAN_BASE_URL=
EXPERIAN_TOKEN_URL=
EXPERIAN_CLIENT_ID=
EXPERIAN_CLIENT_SECRET=
EXPERIAN_SCOPE=
EXPERIAN_TOKEN_AUTH_STYLE=basic
EXPERIAN_BUSINESS_SEARCH_PATH=
EXPERIAN_BUSINESS_REPORT_PATH_TEMPLATE=
EXPERIAN_SEARCH_MAPPING_JSON={}
EXPERIAN_SEARCH_ID_PATH=id
EXPERIAN_SCORE_PATH=
EXPERIAN_RISK_CLASS_PATH=
EXPERIAN_BANKRUPTCY_COUNT_PATH=
EXPERIAN_LIEN_COUNT_PATH=
EXPERIAN_JUDGMENT_COUNT_PATH=

LENDER_PROVIDER=disabled
LENDER_BASE_URL=
LENDER_API_KEY=
LENDER_SUBMISSION_PATH=/v1/submissions

ESIGN_PROVIDER=disabled
DOCUSIGN_REST_BASE_URL=https://demo.docusign.net/restapi
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_ACCESS_TOKEN=
DOCUSIGN_TEMPLATE_ID=
DOCUSIGN_SIGNER_ROLE=Borrower

EMAIL_PROVIDER=disabled
SENDGRID_API_BASE_URL=https://api.sendgrid.com
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_FROM_NAME=MoneyBeeLoans

SMS_PROVIDER=disabled
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

OBJECT_STORAGE_MODE=disabled
OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_REGION=
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=
